body * {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  width: 100%;
  border: solid blue 2px;
}

header {
  position: relative;
  background: #f72210;
  height: max-content;
}

#wrapper {
  width: 88%;
}

#headerLeft {
  width: 25%;
  height: 94px;
}

#headerLeft date {
  margin-left: 30px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: flex-end;
  font-size: 15px;
}

#headerMiddle {
  height: 94px;
  width: 50%;
  display: flex;
  align-items: center;
}

#headerMiddle svg {
  height: 60px;
  width: 695px;
  fill: white;
}

#headerRight {
  width: 25%;
  height: 94px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}

#headerRight a {
  text-decoration: none;
  padding: 6px 12px;
  font: bold 18px/14px "Roboto Condensed",sans-serif;
  height: max-content;
  margin-bottom: 10px;
}

#navSignIn {
  color: white;
}

#navSubscribe {
  background: white;
  color: red;
  margin-right: 15px;
}

#whiteNav {
  height: 50px;
  border-bottom: solid #f4f5f6 2px;
  background: white;
  border: solid black 1px;
}

#whiteNav::before {
  position: absolute;
  top: 92px;
  right: 0;
  content: "";
  display: block;
  width: 88px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

#whiteNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#whiteNav li {
  padding: 16px 0;
}

#whiteNav a {
  text-decoration: none;
  color: black;
  padding: 0 31px;
  border-right: solid #d9d9d9 1px;
  font-size: 21px;
  line-height: 20px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif
}

#navSearch {
  position: relative;
  padding-top: 10px;
  margin-left: 15px;
  height: max-content;
}

#navSearch label {
  position: absolute;
  top: 18px;
  right: 0px;
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
}

#navSearch input {
  width: 80px;
  height: 33px;
  font-size: 18px;
  border: none;
  color: rgba(0, 0, 0, .55);
}

/* MAIN */

main {
  border: solid red 1px;
  margin-top: 10px;
}

#firstSection {
  border: solid black 1px;
}

#firstSection img {
  width: 100%;
}

#firstSection h6 {
  padding-top: 15px;
  font-weight: bold;
  color: #aaa;
}

#firstSection h3 a {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

#featuredColumn {
  width: 25%;
  border: solid black 1px;
}

#topStoryColumn {
  width: 44%;
  border: solid black 1px;
}

#opinionColumn {
  width: 26%;
  border: solid black 1px;
}

#topStoryColumn img {
  height: 310px;
}

#cultureTravel {
  background-color: #f4f5f7;
  margin-bottom: 20px;
}

#cultureTravel .d-flex {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

#cultureTravel img {
  width: 100%;
  height: 162px;
}

#cultureTravel h6 {
  padding: 10px;
  color: rgba(3,3,3,.5);
}

#cultureTravel h5 {
  color: #272727;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#cultureTravel p {
  color: rgba(39,39,39,.5);
  margin-bottom: 10px;
}

#cultureTravel a {
  background-color: #c2d4d7;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  color: black;
  font-size: 14px;
  text-decoration: none;
}

#cultureTravel a:hover {
  background-color: #272727;
  color: #c2d4d7;
}

.opinionLeft {
  width: 18%;
}

.opinionRight {
  margin-top: 15px;
  margin-left: 15px;
  width: 78%;
}

#opinionColumn article {
  border-bottom: 1px solid #ddd;
}

.opinionRight a {
  color: black;
  font-size: 17px;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
}

#opinionColumn p {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  margin-top: 5px;
}

#latestNews {
  border: solid black 1px;
}

.latestLeft {
  width: 40%;
  height: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.latestRight {
  width: 60%;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.latestRight a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: black;
  line-height: 1.5;
  font-weight: bold;
}
